<!-- <p>home works!</p>
<div (click)="onClick()">Send User</div>
{{user$.username}} -->

  <h1 class="text-center text-3xl font-bold mt-10 bg-">All Blog</h1>


<div class="w-[90%] max-w-[1200px] my-10 mx-auto grid grid-cols-1  sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <div *ngFor="let blog of blogs$" class="w-full bg-white shadow-xl rounded-lg">
    <div class="relative">
      <img src="{{apiUrl}}/{{blog.image}}" alt="" class="w-full h-[200px] object-cover">
      <p class="text-sm absolute bottom-3 left-3 bg-green-800 font-medium rounded-lg px-6 py-1 text-white">
        Di posting oleh
        {{blog.user.username}}
      </p>
    </div>
    <div class="p-6 grid gap-3">
      <p class="font-bold text-xl">
        {{blog.title}}
      </p>
      <p class="text-sm text-gray-600 ">
        {{blog.description}}
      </p>

    </div>

  </div>
</div>


