<!-- <p>dashboard works!</p>

<p *ngIf="user$">
  Hi, {{user$.username}}
</p>

<button data-cy="logout-button" (click)="Logout()">Logout</button>


<div>
</div> -->

<h1 class="text-center text-3xl font-bold mt-10 ">{{id ? 'Update' : 'Create'}} Blog</h1>

<div class=" flex gap-4 justify-center w-[90%] max-w-[600px] my-10 mx-auto">
  <form action="" (submit)="submitForm()" id="form-blog" class="flex flex-col gap-3 justify-center items-center w-full">
    <div class="grid grid-cols-1 w-full">
      <label for="title">Title</label>
      <input type="text" name="title" [(ngModel)]="formBlog.title" class="w-full rounded-lg border-slate-300 h-9">
    </div>
    <div  class="grid grid-cols-1 w-full">
      <label for="description">Description</label>
      <input type="text" name="description" [(ngModel)]="formBlog.description" class="rounded-lg border-slate-300 h-9">
    </div>
    <div  class="grid grid-cols-1 w-full">
      <label for="image">Image</label>
      <input type="file" name="image" accept="image/*" (change)="onFileSelected($event)">
      <img *ngIf="formBlog.image" [src]="imagePreview || formBlog.image" alt="Image Preview" class="image-preview">
    </div>
    <div class="w-full text-end">
      <button type="submit" class="bg-green-500 p-3 rounded-lg text-white text-md font-bold text-end">{{id ? 'Update' : 'Create'}}</button>
    </div>
  </form>
</div>




